* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome-section {
    background-image: url(Assets/homepage-real.png);
    background-size: 100%;
    position: relative;
    bottom: 1.5em;
    height: 123vh;
    width: 100vw;
    border: none;
    margin: 0;
}

#welcome-section h1 {
    font-family: gambado-scotch, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 55pt;
    margin: 0 0 0 1.7em;
    position: relative;
    top: 1.25em;
    line-height: 76px;
    color: white;
}

#welcome-section h1 span {
    font-size: 117pt;
    position: relative;
    bottom: .08em;

}

#welcome-section p {
    position: relative;
    top: 7em;
    font-family: halcom, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17pt;
    line-height: 36px;
    width: 35%;
    margin: 0 0 0 5.7em;
    display: block;
    color: #784918;
}

#welcome-section p span {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
}

#welcome-section p span:hover {
    color: #a5794a;
    transition: .2s;
} 

#welcome-section button {
    margin: 11.5em 6em;
    position: relative;
    background-color: #8EB082;
    width: 15%;
    height: 6.5%;
    border-radius: 30px;
    border: none;
    font-size: 16pt;
    letter-spacing: 1px;
    color: white;
    font-family: halcom, sans-serif;
    font-weight: 300;
    font-style: normal;
    box-shadow: 3px 3px 3px #69615c9d;
}

#welcome-section button:hover {
    color: white;
    background-color: #b3ccaa;
    transition: .2s background-color;
}


/* INFO SECTION  */

#info-section {
    height: 100vh;
    width: 100vw;
}

#info-section hr {
    width: 85%;
    height: 8px;
    background-color: #ffbf69;
    border: 1px solid #ffbf69;
    margin: 5.9em auto 0;

    
}

#info-section h2 {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 55pt;
    text-align: center;
    margin: .5em 0 0 0;
}

div#info-grid {
    width: 100vw;
    height: 20em;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 60px;
    justify-content: center;
    margin: 3em 0;
}

div#info-grid div {
    width: 300px;
    height: 100%;
}

div#info-grid img {
    width: auto;
    height: 21px;
    margin: 0 auto;
    display: block;
}

div#info-grid h3 {
    font-family: halcom, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 13pt;
    color: #fc6e06;
    text-align: center;
    margin-top: 2em;
}

div#info-grid p {
    font-family: halcom, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10pt;
    letter-spacing: .5px;
    color: #585151;
    text-align: center;
    margin: 2.5em auto 0;
    width: 95%;

}

hr#second-hr {
    margin: -5.5em auto 0;
}


/* NUTRITION FOCUSED */

#nutrition-section {
    height: 200vh;
    width: 100vw;
    background-color: #fcf9f5;
}

#nutrition-grid {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 500px);
    align-items: center;
    justify-content: center;
    row-gap: 0px;
    margin: 0 auto;


}

.nutrition-img1 {
    width: 320px;
    height: auto;
    filter: saturate(120%);
    margin: 2.7em auto 0 1.5em;

}

#nutrition-section div {
    grid-column: span 2;
    margin: 2.5em auto 0;
}

#nutrition-section h3 {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33pt;
    
}

#nutrition-section p {
    font-family: halcom, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 17pt;
    color: #707070;
    width: 89%;
    margin: 1em 0;

}

.nutrition-right p{
    float: right;

}

.nutrition-right {
    text-align: right;
}

.nutrition-left {
    position: relative;
    bottom: 7.5em;
    left: 1.7em;
    text-align: left;
    float: left;

}

.nutrition-left p {
    position: relative;
    top: .5em;
}

img.nutrition-img2 {
    width: 290px;
    height: auto;
    position: relative;
    bottom: 5.3em;
    left: 3.9em;
    transform: rotate(1deg);
    filter: saturate(120%);

}

.nutrition-3 {
    position: relative;
    bottom: 14em;
    left: 5em;
    text-align: right;

}

.nutrition-3 h3 {
    position: relative;
    right: 1.5em;
}

img.nutrition-img3 {
    width: 260px;
    height: auto;
    position: relative;
    bottom: 11.5em;
    left: 4.7em;
    transform: rotate(-34deg);
    filter: saturate(120%)

}


/* VEGGIE CREDIT */

#veggie-credit {
    height: 100vh;
    width: 100vw;

}

#veggie-credit h3 {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 47pt;
    text-align: center;
    margin: 1.9em 0 -20px;
}

#veggie-credit h3 sup {
    font-size: 25pt;
}

p#disclaimer {
    font-family: halcom, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 17pt;
    letter-spacing: 1px;
    color: #707070;
    margin-top: .7em;
}

#veggie-credit form {
    width: 73.7%;
    height: 42.2em;
    border: 13px solid #8cb47e;
    margin: 4.2em auto;
    display: flex;
}
.title-wrap {
    width: 50%;
}

#veggie-credit h4 {
    font-family: adobe-caslon-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 27pt;
    line-height: 45px;
    text-align: center;
    margin-top: 2em;
}

#veggie-credit form img {
    width: 13em;
    height: auto;
    margin: .8em auto 0 7.3em;
    filter: saturate(110%);

}


.input-wrap {
    width: 50%;
    margin: 7.5em auto 0 1.5em;
}

input {
    display: block;
    width: 84%;
    height: 11%;
    border: 3px solid #fc6e06;
    margin-top: 1.5em;
    font-family: halcom, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 17pt;
    padding-left: .6em;
    

}

input::placeholder {
    font-family: halcom, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20pt;
    color: #707070;
    margin-top: 2em;
    position: relative;
}

input:focus {
    box-shadow: 2px 2px 20px 5px #70707030;
    border: none;
}

/* CHECKBOX STYLING  */
div.checkbox-wrapper {
    width: 24px;
    height: 24px;
    position: relative;
    top: -.5em;
    margin: 1em 0 0;
    display: inline-block;
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 0;
    top: 0;
    left: 0;
    margin: 0;

}

.checkbox-wrapper > [type="checkbox"] + span {
    display: block;
    position: relative;
    z-index: 1;
    height: 85%;
    width: 85%;
    border: 1px solid #c64036;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.115);
    margin: 0;
    bottom: 40px;

  
}

.checkbox-wrapper > [type="checkbox"]:checked + span::after {
	font-family: Arial Unicode MS, Lucida Grande;
    content: "\2713";
	color: #8cb47e;
	font-size: 1.2em;
    top: -.25em;
    left: .15em;
    width: 100%;
    height: 100%;
	position: absolute;
}

.checkbox-wrapper > [type="checkbox"]:focus + span {
	box-shadow: 1px 1px 2px 2px #0000002b;
}




/* DISCLAIMER */

.input-wrap p {
    width: 72%;
    display: inline-block;
    font-family: halcom, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 10pt;
    color: #707070;
    margin: 2.5em 0 0 1.5em;

}

.input-wrap p a {
    color: #707070;

}

/* BUTTON */

.input-wrap button {
    display: block;
    margin: 2.5em 0 0 2.5em;
    width: 65%;
    height: 42px;
    background-color: #ffbc64;
    box-shadow: 4px 4px 0 #fc6e06;
    border: none;
    color: white;
    font-family: halcom, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13pt;
    letter-spacing: .3px;
    filter: saturate(115%);


}










footer {
    width: 100vw;
    height: 18em;
    margin: 25em 0 0;
    background-color: #DEE3DC;

}

footer p {
    font-family: halcom, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10pt;
    text-align: center;
    padding-top: 3em
    
}

footer div {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    margin: 4em auto;
    
}

footer div a {
    text-align: center;
    color: black;
    font-family: halcom, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    font-size: 10pt;
}

footer div a:hover {
    text-decoration: underline;
    transition: .2s underline;
    color: rgb(54, 52, 52);
}

